*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    background: none repeat scroll 0 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
}

#tracking_area{
    width: 100%;
    clear: both;
    padding: 45px 0;
}

